@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the TimeManagementSystem!</h1>
    <h3>Here you can track work of your team when developing some product =)</h3>
</div>
